<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AC</key>
	<array>
		<string>911</string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>AD</key>
	<array>
		<string>118</string>
		<string>118</string>
		<string>110</string>
	</array>
	<key>AE</key>
	<array>
		<string>998</string>
		<string>997</string>
		<string>999</string>
	</array>
	<key>AF</key>
	<array>
		<string>102</string>
		<string>119</string>
		<string>119</string>
	</array>
	<key>AG</key>
	<array>
		<string>999</string>
		<string>999</string>
		<string>999</string>
	</array>
	<key>AI</key>
	<array>
		<string>911</string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>AL</key>
	<array>
		<string>127</string>
		<string>128</string>
		<string>129</string>
	</array>
	<key>AM</key>
	<array>
		<string>103</string>
		<string>101</string>
		<string>102</string>
	</array>
	<key>AN</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>AO</key>
	<array>
		<string>118</string>
		<string>118</string>
		<string>110</string>
	</array>
	<key>AQ</key>
	<array>
		<string>911</string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>AR</key>
	<array>
		<string>107</string>
		<string>100</string>
		<string>101</string>
	</array>
	<key>AS</key>
	<array>
		<string>911</string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>AT</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>AU</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>AW</key>
	<array>
		<string>911</string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>BB</key>
	<array>
		<string>511</string>
		<string>311</string>
		<string>211</string>
	</array>
	<key>BD</key>
	<array>
		<string>199</string>
		<string>9555555</string>
		<string>999</string>
	</array>
	<key>BE</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>BF</key>
	<array>
		<string></string>
		<string>18</string>
		<string>17</string>
	</array>
	<key>BG</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>BH</key>
	<array>
		<string>999</string>
		<string>999</string>
		<string>999</string>
	</array>
	<key>BI</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>BJ</key>
	<array>
		<string></string>
		<string>118</string>
		<string>117</string>
	</array>
	<key>BM</key>
	<array>
		<string>911</string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>BO</key>
	<array>
		<string>118</string>
		<string>119</string>
		<string>110</string>
	</array>
	<key>BR</key>
	<array>
		<string>192</string>
		<string>193</string>
		<string>190</string>
	</array>
	<key>BS</key>
	<array>
		<string>911</string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>BT</key>
	<array>
		<string>110</string>
		<string>112</string>
		<string>113</string>
	</array>
	<key>BW</key>
	<array>
		<string>997</string>
		<string>997</string>
		<string>997</string>
	</array>
	<key>BY</key>
	<array>
		<string>103</string>
		<string>101</string>
		<string>102</string>
	</array>
	<key>BZ</key>
	<array>
		<string>911</string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>CA</key>
	<array>
		<string>911</string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>CD</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>CF</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>CG</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>CH</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>CK</key>
	<array>
		<string>998</string>
		<string>996</string>
		<string>999</string>
	</array>
	<key>CL</key>
	<array>
		<string>131</string>
		<string>132</string>
		<string>133</string>
	</array>
	<key>CM</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>CN</key>
	<array>
		<string>999</string>
		<string>119</string>
		<string>110</string>
	</array>
	<key>CR</key>
	<array>
		<string>911</string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>CU</key>
	<array>
		<string>26811</string>
		<string>26811</string>
		<string>26811</string>
	</array>
	<key>CV</key>
	<array>
		<string>130</string>
		<string>131</string>
		<string>132</string>
	</array>
	<key>CX</key>
	<array>
		<string>000</string>
		<string>000</string>
		<string>000</string>
	</array>
	<key>CY</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>CZ</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>DE</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>DJ</key>
	<array>
		<string>351351</string>
		<string>18</string>
		<string>17</string>
	</array>
	<key>DK</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>DM</key>
	<array>
		<string>999</string>
		<string>999</string>
		<string>999</string>
	</array>
	<key>DO</key>
	<array>
		<string>911</string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>DZ</key>
	<array>
		<string>14</string>
		<string>14</string>
		<string>17</string>
	</array>
	<key>EC</key>
	<array>
		<string>911</string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>EE</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>EG</key>
	<array>
		<string>123</string>
		<string>180</string>
		<string>112</string>
	</array>
	<key>EH</key>
	<array>
		<string>150</string>
		<string></string>
		<string></string>
	</array>
	<key>ER</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>ES</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>ET</key>
	<array>
		<string>92</string>
		<string>93</string>
		<string>91</string>
	</array>
	<key>FI</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>FJ</key>
	<array>
		<string>911</string>
		<string>9170</string>
		<string>911</string>
	</array>
	<key>FK</key>
	<array>
		<string>999</string>
		<string>999</string>
		<string>999</string>
	</array>
	<key>FM</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>FR</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>GA</key>
	<array>
		<string>1300</string>
		<string>18</string>
		<string>1730</string>
	</array>
	<key>GB</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>GD</key>
	<array>
		<string></string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>GE</key>
	<array>
		<string>113</string>
		<string>111</string>
		<string>122</string>
	</array>
	<key>GF</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>GH</key>
	<array>
		<string>193</string>
		<string>192</string>
		<string>191</string>
	</array>
	<key>GI</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>GL</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>GM</key>
	<array>
		<string>16</string>
		<string>18</string>
		<string>17</string>
	</array>
	<key>GN</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>GQ</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>GR</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>GT</key>
	<array>
		<string>120</string>
		<string>123</string>
		<string>110</string>
	</array>
	<key>GY</key>
	<array>
		<string>911</string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>HK</key>
	<array>
		<string>999</string>
		<string>999</string>
		<string>999</string>
	</array>
	<key>HN</key>
	<array>
		<string>199</string>
		<string>199</string>
		<string>199</string>
	</array>
	<key>HR</key>
	<array>
		<string>94</string>
		<string>193</string>
		<string>192</string>
	</array>
	<key>HT</key>
	<array>
		<string>118</string>
		<string></string>
		<string>114</string>
	</array>
	<key>HU</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>ID</key>
	<array>
		<string>118</string>
		<string>113</string>
		<string>110</string>
	</array>
	<key>IE</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>IL</key>
	<array>
		<string>101</string>
		<string>102</string>
		<string>100</string>
	</array>
	<key>IM</key>
	<array>
		<string>999</string>
		<string>999</string>
		<string>999</string>
	</array>
	<key>IN</key>
	<array>
		<string>102</string>
		<string>101</string>
		<string>100</string>
	</array>
	<key>IQ</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>IR</key>
	<array>
		<string>115</string>
		<string>125</string>
		<string>110</string>
	</array>
	<key>IS</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>IT</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>JE</key>
	<array>
		<string>999</string>
		<string>999</string>
		<string>999</string>
	</array>
	<key>JM</key>
	<array>
		<string>110</string>
		<string>110</string>
		<string>119</string>
	</array>
	<key>JO</key>
	<array>
		<string>911</string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>JP</key>
	<array>
		<string>118</string>
		<string>119</string>
		<string>110</string>
	</array>
	<key>KE</key>
	<array>
		<string>999</string>
		<string>999</string>
		<string>999</string>
	</array>
	<key>KG</key>
	<array>
		<string>103</string>
		<string>103</string>
		<string>103</string>
	</array>
	<key>KH</key>
	<array>
		<string>119</string>
		<string>118</string>
		<string>117</string>
	</array>
	<key>KI</key>
	<array>
		<string>994</string>
		<string></string>
		<string></string>
	</array>
	<key>KM</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>KP</key>
	<array>
		<string>119</string>
		<string>119</string>
		<string>119</string>
	</array>
	<key>KR</key>
	<array>
		<string>119</string>
		<string>119</string>
		<string>112</string>
	</array>
	<key>KW</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>KY</key>
	<array>
		<string>911</string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>KZ</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>LA</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>LB</key>
	<array>
		<string>140</string>
		<string>175</string>
		<string>112</string>
	</array>
	<key>LI</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>LK</key>
	<array>
		<string>110</string>
		<string>111</string>
		<string>118</string>
	</array>
	<key>LR</key>
	<array>
		<string>911</string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>LS</key>
	<array>
		<string>121</string>
		<string>122</string>
		<string>123</string>
	</array>
	<key>LT</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>LU</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>LV</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>LY</key>
	<array>
		<string>193</string>
		<string>193</string>
		<string>193</string>
	</array>
	<key>MA</key>
	<array>
		<string>15</string>
		<string>15</string>
		<string>19</string>
	</array>
	<key>MC</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>ME</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>MH</key>
	<array>
		<string>6254111</string>
		<string></string>
		<string>6258666</string>
	</array>
	<key>MK</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>ML</key>
	<array>
		<string>15</string>
		<string>17</string>
		<string>18</string>
	</array>
	<key>MM</key>
	<array>
		<string>191</string>
		<string>191</string>
		<string>191</string>
	</array>
	<key>MN</key>
	<array>
		<string>103</string>
		<string>101</string>
		<string>102</string>
	</array>
	<key>MO</key>
	<array>
		<string>999</string>
		<string>999</string>
		<string>999</string>
	</array>
	<key>MQ</key>
	<array>
		<string>15</string>
		<string>18</string>
		<string>17</string>
	</array>
	<key>MR</key>
	<array>
		<string></string>
		<string>118</string>
		<string>117</string>
	</array>
	<key>MS</key>
	<array>
		<string>911</string>
		<string></string>
		<string>999</string>
	</array>
	<key>MT</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>MU</key>
	<array>
		<string>999</string>
		<string>999</string>
		<string>999</string>
	</array>
	<key>MV</key>
	<array>
		<string>102</string>
		<string>102</string>
		<string>102</string>
	</array>
	<key>MW</key>
	<array>
		<string>998</string>
		<string>999</string>
		<string>997</string>
	</array>
	<key>MY</key>
	<array>
		<string>999</string>
		<string>999</string>
		<string>999</string>
	</array>
	<key>MZ</key>
	<array>
		<string>117</string>
		<string>198</string>
		<string>119</string>
	</array>
	<key>NA</key>
	<array>
		<string>2032276</string>
		<string>2032270</string>
		<string>1011</string>
	</array>
	<key>NC</key>
	<array>
		<string>18</string>
		<string>18</string>
		<string>17</string>
	</array>
	<key>NE</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>NF</key>
	<array>
		<string>911</string>
		<string>955</string>
		<string>977</string>
	</array>
	<key>NG</key>
	<array>
		<string>199</string>
		<string>199</string>
		<string>199</string>
	</array>
	<key>NI</key>
	<array>
		<string>118</string>
		<string>118</string>
		<string>118</string>
	</array>
	<key>NL</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>NO</key>
	<array>
		<string>113</string>
		<string>110</string>
		<string>112</string>
	</array>
	<key>NP</key>
	<array>
		<string>102</string>
		<string>101</string>
		<string>100</string>
	</array>
	<key>NR</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>NU</key>
	<array>
		<string>999</string>
		<string>999</string>
		<string>999</string>
	</array>
	<key>NZ</key>
	<array>
		<string>111</string>
		<string>111</string>
		<string>111</string>
	</array>
	<key>OM</key>
	<array>
		<string>999</string>
		<string>999</string>
		<string>999</string>
	</array>
	<key>PA</key>
	<array>
		<string>911</string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>PE</key>
	<array>
		<string>117</string>
		<string>116</string>
		<string>105</string>
	</array>
	<key>PF</key>
	<array>
		<string>15</string>
		<string></string>
		<string></string>
	</array>
	<key>PH</key>
	<array>
		<string>117</string>
		<string>117</string>
		<string>117</string>
	</array>
	<key>PK</key>
	<array>
		<string>115</string>
		<string>16</string>
		<string>15</string>
	</array>
	<key>PL</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>PN</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>PR</key>
	<array>
		<string>911</string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>PT</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>PW</key>
	<array>
		<string>911</string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>PY</key>
	<array>
		<string>911</string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>QA</key>
	<array>
		<string>999</string>
		<string>999</string>
		<string>999</string>
	</array>
	<key>RO</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>RS</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>RU</key>
	<array>
		<string>03</string>
		<string>01</string>
		<string>02</string>
	</array>
	<key>RW</key>
	<array>
		<string></string>
		<string></string>
		<string>112</string>
	</array>
	<key>SA</key>
	<array>
		<string>997</string>
		<string>998</string>
		<string>999</string>
	</array>
	<key>SB</key>
	<array>
		<string>999</string>
		<string>999</string>
		<string>999</string>
	</array>
	<key>SC</key>
	<array>
		<string>999</string>
		<string>999</string>
		<string>999</string>
	</array>
	<key>SD</key>
	<array>
		<string>999</string>
		<string>999</string>
		<string>999</string>
	</array>
	<key>SE</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>SG</key>
	<array>
		<string>995</string>
		<string>995</string>
		<string>999</string>
	</array>
	<key>SI</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>SK</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>SL</key>
	<array>
		<string>999</string>
		<string>019</string>
		<string>999</string>
	</array>
	<key>SM</key>
	<array>
		<string>118</string>
		<string>115</string>
		<string>113</string>
	</array>
	<key>SN</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>SO</key>
	<array>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<key>SR</key>
	<array>
		<string>115</string>
		<string>115</string>
		<string>115</string>
	</array>
	<key>SV</key>
	<array>
		<string>911</string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>SY</key>
	<array>
		<string>110</string>
		<string>113</string>
		<string>112</string>
	</array>
	<key>SZ</key>
	<array>
		<string></string>
		<string></string>
		<string>999</string>
	</array>
	<key>TC</key>
	<array>
		<string>999</string>
		<string>999</string>
		<string>999</string>
	</array>
	<key>TD</key>
	<array>
		<string></string>
		<string>18</string>
		<string>17</string>
	</array>
	<key>TG</key>
	<array>
		<string></string>
		<string></string>
		<string>101</string>
	</array>
	<key>TH</key>
	<array>
		<string>1669</string>
		<string>199</string>
		<string>191</string>
	</array>
	<key>TJ</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>TL</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>TM</key>
	<array>
		<string>03</string>
		<string>03</string>
		<string>03</string>
	</array>
	<key>TN</key>
	<array>
		<string>190</string>
		<string>198</string>
		<string>197</string>
	</array>
	<key>TO</key>
	<array>
		<string>911</string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>TR</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>TT</key>
	<array>
		<string>990</string>
		<string>990</string>
		<string>999</string>
	</array>
	<key>TV</key>
	<array>
		<string>911</string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>TW</key>
	<array>
		<string>119</string>
		<string>119</string>
		<string>110</string>
	</array>
	<key>TZ</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>UA</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>UG</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>US</key>
	<array>
		<string>911</string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>UY</key>
	<array>
		<string>911</string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>UZ</key>
	<array>
		<string>03</string>
		<string>03</string>
		<string>03</string>
	</array>
	<key>VA</key>
	<array>
		<string>118</string>
		<string>115</string>
		<string>113</string>
	</array>
	<key>VE</key>
	<array>
		<string>171</string>
		<string>171</string>
		<string>171</string>
	</array>
	<key>VG</key>
	<array>
		<string>999</string>
		<string>999</string>
		<string>999</string>
	</array>
	<key>VN</key>
	<array>
		<string>115</string>
		<string>114</string>
		<string>113</string>
	</array>
	<key>VU</key>
	<array>
		<string>112</string>
		<string>112</string>
		<string>112</string>
	</array>
	<key>WS</key>
	<array>
		<string>999</string>
		<string>999</string>
		<string>999</string>
	</array>
	<key>XK</key>
	<array>
		<string>911</string>
		<string>911</string>
		<string>911</string>
	</array>
	<key>YE</key>
	<array>
		<string>191</string>
		<string>191</string>
		<string>194</string>
	</array>
	<key>YT</key>
	<array>
		<string>15</string>
		<string></string>
		<string></string>
	</array>
	<key>ZA</key>
	<array>
		<string>10177</string>
		<string>10111</string>
		<string>10111</string>
	</array>
	<key>ZM</key>
	<array>
		<string>991</string>
		<string>993</string>
		<string>999</string>
	</array>
	<key>ZW</key>
	<array>
		<string>994</string>
		<string>993</string>
		<string>995</string>
	</array>
</dict>
</plist>
